<%- include('partials/head') %>
<%- include('partials/header') %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<% if(usuario) { %>
  <h2>#<%= usuario.id %> <%= usuario.nome %></h2>
<% } else { %>
  <h2>Tem esse usuário não!</h2>  
<%} %>

<%- include('partials/footer') %>